{% load static %}
<header>
    <div class="container">
        <div class="header_content">
            <a href="{% url 'index' %}" class="logo">
                <img loading="lazy" src="{% static 'img/icons/logo_transperent.png' %}" class="logo_img">
                <div class="logo_text">
                    <p class="name">Кокос GROUP</p>
                </div>
            </a>
            <nav class="navigation">
                <ul>
                    <li><a href=""><img loading="lazy" src="{% static 'img/icons/cart.svg' %}"></a></li>
                    <li><a href="">Магазин</a></li>
                    <li><a href="">Матчи</a></li>
                    <li><a href="{% url 'news' %}">Новости</a></li>
                    <li><a href="">Команда</a></li>
                    <li><a href="">История</a></li>
                    <li><a href="">Медиа</a></li>
                    <li><a href="">Партнерам</a></li>
                    <li><a href="">Билеты</a></li>
                    <li class="networks">
                        <a href=""><img loading="lazy" src="{% static 'img/icons/tg.svg' %}"></a>
                        <a href=""><img loading="lazy" src="{% static 'img/icons/youtube.svg' %}"></a>
                        <a href=""><img loading="lazy" src="{% static 'img/icons/vk.svg' %}"></a>
                    </li>
                </ul>
            </nav>

            <div class="header_side_buttons">
                {% if request.user.is_authenticated %}
                    <a href="" class="log_in">
                        <img loading="lazy" src="{% static 'img/icons/login.svg' %}" width="42px">
                    </a>
                {% else %}
                    <a href="{% url 'authorize' %}" class="log_in">
                        <img loading="lazy" src="{% static 'img/icons/login.svg' %}" width="42px">
                    </a>
                {% endif %}

                <button class="menu_btn clear_btn">
                    <img src="{% static 'img/icons/menu_btn.svg' %}">
                </button>
            </div>

        </div>
    </div>
</header>