{% extends 'index.html' %}
{% block title %}ФК Кокос | Авторизация{% endblock %}
{% block content %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form method="post">
                        {% csrf_token %}
                        {% if messages %}
                            <div class="alert alert-primary" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="form1Example13" name="email" class="form-control form-control-lg"/>
                            <label class="form-label" for="form1Example13">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="form1Example23" name="password" class="form-control form-control-lg"/>
                            <label class="form-label" for="form1Example23">Password</label>
                        </div>

                        <div class="d-flex justify-content-around align-items-center mb-4">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked/>
                                <label class="form-check-label" for="form1Example3"> Remember me </label>
                            </div>
                            <a href="#!">Forgot password?</a>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-lg btn-block">Sign in
                        </button>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                        </div>
                        <div>
                            <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
                            <script type="text/javascript">
                                if ('VKIDSDK' in window) {
                                    const VKID = window.VKIDSDK;

                                    VKID.Config.init({
                                        app: 52427018,
                                        redirectUrl: 'https://muhammadmalimov.pythonanywhere.com',
                                        responseMode: VKID.ConfigResponseMode.Callback,
                                        source: VKID.ConfigSource.LOWCODE,
                                    });

                                    const oneTap = new VKID.OneTap();

                                    oneTap.render({
                                        container: document.currentScript.parentElement,
                                        fastAuthEnabled: false,
                                        showAlternativeLogin: true,
                                        skin: 'secondary',
                                        styles: {
                                            height: 48
                                        }
                                    })
                                        .on(VKID.WidgetEvents.ERROR, vkidOnError)
                                        .on(VKID.OneTapInternalEvents.LOGIN_SUCCESS, function (payload) {
                                            const code = payload.code;
                                            const deviceId = payload.device_id;

                                            VKID.Auth.exchangeCode(code, deviceId)
                                                .then(vkidOnSuccess)
                                                .catch(vkidOnError);
                                        });
                                }

                                function vkidOnSuccess(data) {
                                    // Обработка полученного результата
                                }

                                function vkidOnError(error) {
                                    // Обработка ошибки
                                }
                            </script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}