{% extends 'index.html' %}
{% load static %}
{% block title %}ФК Кокос | Авторизация{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <div class="center_block">
                <div class="form_block">
                    <form method="post" class="signup_form">
                        {% csrf_token %}
                        <p class="heading">Вход</p>
                        {% if messages %}
                            <ul class="messages alert alert-warning">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <label class="" for="email">
                            E-mail
                            <input id="email" name="email" type="email" placeholder="Ваша почта" required/>
                        </label>
                        <label class="" for="password">
                            Пароль
                            <input id="password" name="password" type="password" placeholder="Ваш пароль" required/>
                        </label>
                        <button type="submit">Войти</button>
                        <div style="margin: 10px 0">
                            <script defer rel="script" type="text/javascript" src="{% static 'js/main.js' %}"></script>
                        </div>
                    </form>
                    <div class="forgot_pass_link">
                        <a href="">Забыли пароль?</a>
                    </div>
                    <div class="create_account_link">
                        <a href="{% url 'register' %}">Создать аккаунт →</a>
                    </div>
                </div>
                <div class="img_block">
                    <img src="{% static 'img/happy_team.png' %}" class="img-fluid">
                    <img src="{% static 'img/team_color.jpg' %}" class="img-fluid">
                    <img src="{% static 'img/news1.jpg' %}" class="img-fluid">
                    <img src="{% static 'img/cover.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>
    </main>
{% endblock %}