{% extends 'index.html' %}
{% load static %}
{% block title %}ФК Кокос | Корзина{% endblock %}
{% block content %}
    <main>
        <div class="intro_img profile_background_img">
            <div class="intro_news_block">
                <img src="{% static 'img/background_profile.png' %}" class="intro_img_photo">
            </div>
        </div>

        <div class="container">
            <div class="profile_head cart_title">
                <div class="heading">Корзина</div>
            </div>
        </div>

        <div class="container">
            <div class="margin_content">
                <div class="tabs">
                    <!-- ТАБЫ ФИКТИВНЫ !!! -->
                    <div class="tab_profile active">Товары</div>
                    <div class="tab_profile">Доставка</div>
                    <div class="tab_profile">Оплата</div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="one_competition_media_section">
                <div class="no_media">
                    <dotlottie-player src="https://lottie.host/8476df42-7ef8-48b2-893f-c03f70f2d29a/ojpfNf37L1.json"
                                      background="transparent" speed="1" style="width: 150px; height: 150px;"
                                      loading="lazy" loop autoplay></dotlottie-player>
                    <p>В корзине пока пусто...</p>
                </div>

                <div class="order_cart_profile">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="item_img_wrapper">
                                <img src="{% static 'img/item1.png' %}" class="item_img">
                            </div>
                        </div>
                        <div class="col-md-9 order_item_name">
                            <div class="item_info">
                                <p>Футболка Кокос Групп 2024</p>
                                <p class="price">3 990 ₽</p>
                                <p>Размер: М</p>
                            </div>
                            <div class="order_date">
                                <button>
                                    <img src="{% static 'img/icons/delete.png' %}" width="25px">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order_cart_profile">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="item_img_wrapper">
                                <img src="{% static 'img/item1.png' %}" class="item_img">
                            </div>
                        </div>
                        <div class="col-md-9 order_item_name">
                            <div class="item_info">
                                <p>Футболка Кокос Групп 2024</p>
                                <p class="price">3 990 ₽</p>
                                <p>Размер: М</p>
                            </div>
                            <div class="order_date">
                                <button>
                                    <img src="{% static 'img/icons/delete.png' %}" width="25px">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <script defer type="application/javascript" rel="script" src="{% static 'js/delete_card.js' %}"></script>
{% endblock %}