{% extends 'index.html' %}
{% load static %}
{% block title %}ФК Кокос | Новости{% endblock %}
{% block content %}
    <main>
        <div class="intro_img full_height_img">
            <div class="intro_news_block">
                <img src="{% static 'img/happy_team.png' %}" class="intro_img_photo">
                <div class="container">
                    <div class="name_page">
                        <p>Новости</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="news_content">
                <div class="select_block">
                    <div class="news_search_block posts_filter">
                        <input type="text" placeholder="Поиск по новостям" class="news_search selector ">
                        <button><img src="{% static 'img/icons/search_white.svg' %}"></button>
                    </div>
                    <select name="posts_filter_chronology" id="postsFilterChronology" class="form-select selector posts_filter">
                        <option>Сначала новые</option>
                        <option>Сначала старые</option>
                        <option>Сначала популярные</option>
                    </select>
                    <select name="posts_filter_type" id="postsFilterType" class="form-select selector posts_filter">
                        <option>Все новости</option>
                        <option>Статьи</option>
                        <option>Интервью</option>
                        <option>Трансферы</option>
                        <option>Пресс-релизы</option>
                    </select>
                </div>

                <div class="posts">
                    <div class="row">
                        <!-- СЮДА ВЫВОДИМ 9 ПОСТОВ-->
                        <div class="col-md-4 col-sm-6">
                            <a href="">
                                <div class="post_card">
                                    <img src="{% static 'img/cover.jpg' %}" class="post_img">
                                    <div class="text_block">
                                        <div class="text">
                                            <p class="post_name">
                                                ЛУЧШАЯ ФУТБОЛЬНАЯ НОВОСТЬ СТОЛЕТИЯ
                                            </p>
                                            <p class="post_description">
                                                Footer прижимается вниз за счет вытягивания блока контента и его «родителей» на всю высоту окна браузера и подъема футера вверх.
                                            </p>
                                            <div class="post_date">
                                                <p class="date"><img src="{% static 'img/icons/interview.png' %}"> 02.10.2024 &nbsp;&nbsp; 20:42</p>
                                                <button class="post_btn">
                                                    →
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="">
                                <div class="post_card">
                                    <img src="{% static 'img/cover.jpg' %}" class="post_img">
                                    <div class="text_block">
                                        <div class="text">
                                            <p class="post_name">
                                                ЛУЧШАЯ ФУТБОЛЬНАЯ НОВОСТЬ СТОЛЕТИЯ
                                            </p>
                                            <p class="post_description">
                                                Footer прижимается вниз за счет вытягивания блока контента и его «родителей» на всю высоту окна браузера и подъема футера вверх.
                                            </p>
                                            <div class="post_date">
                                                <p class="date"><img src="{% static 'img/icons/article.png' %}"> 02.10.2024 &nbsp;&nbsp; 20:42</p>
                                                <button class="post_btn">
                                                    →
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href="">
                                <div class="post_card">
                                    <img src="{% static 'img/cover.jpg' %}" class="post_img">
                                    <div class="text_block">
                                        <div class="text">
                                            <p class="post_name">
                                                ЛУЧШАЯ ФУТБОЛЬНАЯ НОВОСТЬ СТОЛЕТИЯ
                                            </p>
                                            <p class="post_description">
                                                Footer прижимается вниз за счет вытягивания блока контента и его «родителей» на всю высоту окна браузера и подъема футера вверх.
                                            </p>
                                            <div class="post_date">
                                                <p class="date"><img src="{% static 'img/icons/press-release.png' %}"> 02.10.2024 &nbsp;&nbsp; 20:42</p>
                                                <button class="post_btn">
                                                    →
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="pagination_block">
                        <nav>
                            <ul class="pagination justify-content-center dsfd">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> &lt; </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}