{% extends 'index.html' %}
{% load static %}
{% block title %}ФК Кокос | Партнерам{% endblock %}
{% block content %}
    <main>
        <div class="intro_img full_height_img">
            <div class="intro_news_block">
                <img src="{% static 'img/cover.jpg' %}" class="intro_img_photo">
                <div class="container">
                    <div class="name_page">
                        <p>Партнерам</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="later_block">
                <p class="player_position_title">ИНФОРМАЦИЯ ДЛЯ ПАРНЕРОВ</p>
                <p class="later">*Появится позже</p>
            </div>
        </div>
    </main>
{% endblock %}