{% extends 'index.html' %}
{% load static %}
{% block title %}ФК Кокос | {{ post.title | truncatechars:10 }}{% endblock %}
{% block content %}
    <main>
        <!-- ТУТ ФОТКА ПОСТА. к каждому посту идет картинка и она должна быть здесь
         Сюда она прикручена через background-image: url(...);  -->
        <div class="wrap fixed_img"></div>
        <div class="wrap">
            <div class="container">
                <div class="post">
                    <div class="post_name_block">
                        <div class="date_and_repost">
                            <div class="date">
                                <p>{{ post.created | date }} &nbsp; {{ post.created | time }}</p>
                            </div>
                            <div class="repost">
                                <p>Поделиться:</p>
                                <a href=""> <img src="{% static 'img/icons/vk_repost.png' %}"></a>
                                <a href=""><img src="{% static 'img/icons/tg_repost.png' %}"></a>
                            </div>
                            <div class="news_type">
                                <!--Варианты: Пресс-релиз, Интервью, Статья, Трансфер
                                меняется только название картинки - press-relese.png, interview.png, article.png, transfer.png -->
                                <p>Пресс-релиз</p>
                                <div class="type_icon">
                                    <img src="{% static 'img/icons/press-release.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="post_title">{{ post.title }}</div>
                    </div>

                    <div class="post_content">
                        <div class="post_text_block">
                            <p class="post_description">{{ post.description|truncatechars:15 }}</p>
                            <!-- Можем ли мы как то сделать такие заголовки для абзаца
                            (не для всего поста!) как с класом .paragraph_heading ?
                            Если нет то кикай -->
                            <p class="paragraph">{{ post.description }}</p>
                            <p class="post_description">{{ post.tags }}</p>
                        </div>
                        <div class="sidebar_other_posts">
                            <p class="heading">ДРУГИЕ НОВОСТИ:</p>
                            <div class="other_news">
                                <!-- Сюда 4 популярные новости или 4 рандомные
                                или 4 ближайшие по дате к открытой новости-->
                                {% for newsx in news %}
                                    {% if newsx.id != post.id %}
                                        <a href="{% url 'post' newsx.id %}" class="main_news_card another_post">
                                            <img loading="lazy" src="{% static 'img/happy_team.png' %}">
                                            <p>{{ newsx.title }}</p>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container">
                <div class="comments">
                    <p class="heading">Комментарии</p>
                    <!-- Коммы здесь -->
                </div>
            </div>
        </div>
    </main>
{% endblock %}