{% extends 'index.html' %}
{% load static %}
{% block title %}ФК Кокос | Команда{% endblock %}
{% block content %}
    <main>
        <div class="intro_img full_height_img">
            <div class="intro_news_block">
                <img src="{% static 'img/team_color.jpg' %}" class="intro_img_photo">
                <div class="container">
                    <div class="name_page">
                        <p>Команда</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="news_content">
                <div class="row">
                    <div class="one_competition_media_section team_block">
                        <p class="player_position_title">Тренерский штаб</p>
                        <div class="row players">
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name trainer_name">
                                                    <p class="player_name">
                                                        Пименов Михаилл Александрович
                                                    </p>
                                                    <p class="trainer_position">Главный тренер</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <p class="player_position_title">ВРАТАРИ</p>
                        <div class="row players">
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Комягин Михаил
                                                    </p>
                                                    <p class="player_num">1</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Зыбин Александр
                                                    </p>
                                                    <p class="player_num">2</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <p class="player_position_title">Защитники</p>
                        <div class="row players">
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Власов Виктор
                                                    </p>
                                                    <p class="player_num">3</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Цыбиков Александр
                                                    </p>
                                                    <p class="player_num">4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Марьяшин Павел
                                                    </p>
                                                    <p class="player_num">5</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Рыков Владимир
                                                    </p>
                                                    <p class="player_num">6</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Погребняк Николай
                                                    </p>
                                                    <p class="player_num">7</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Иминжанов Анвар
                                                    </p>
                                                    <p class="player_num">8</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    players"
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Алисеевич Георгий
                                                    </p>
                                                    <p class="player_num">9</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <p class="player_position_title">Полузащитники</p>
                        <div class="row players">
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Карев Александр
                                                    </p>
                                                    <p class="player_num">10</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Сутормин Константин
                                                    </p>
                                                    <p class="player_num">11</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Жежа Павел
                                                    </p>
                                                    <p class="player_num">12</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Лидинев Олег
                                                    </p>
                                                    <p class="player_num">13</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Кудьяров Владислав
                                                    </p>
                                                    <p class="player_num">15</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Мареев Юрий
                                                    </p>
                                                    <p class="player_num">16</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Черкашин Артем
                                                    </p>
                                                    <p class="player_num">17</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Терещенко Павел
                                                    </p>
                                                    <p class="player_num">18</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Азембловский Никита
                                                    </p>
                                                    <p class="player_num">19</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Терехов Антон
                                                    </p>
                                                    <p class="player_num">20</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Погребняк Артем
                                                    </p>
                                                    <p class="player_num">21</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Комяжко Кирилл
                                                    </p>
                                                    <p class="player_num">22</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <p class="player_position_title">Нападающие</p>
                        <div class="row players">
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Сутормин Алексей
                                                    </p>
                                                    <p class="player_num">23</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Леденев Роман
                                                    </p>
                                                    <p class="player_num">24</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Погребняк Павел
                                                    </p>
                                                    <p class="player_num">25</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="">
                                    <div class="post_card player_card">
                                        <img src="assets/img/player.png" class="player_img">
                                        <div class="text_block">
                                            <div class="text">
                                                <div class="post_name ">
                                                    <p class="player_name">
                                                        Погребняк Кирилл
                                                    </p>
                                                    <p class="player_num">26</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}